<div class="banner-home  d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1598386651573-9232cc0c2f7c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)">
  <div class="container-title-movies">
    <h1><strong>Action</strong>  movies</h1>
  </div>
  <div class="container-cards-movies">
    <%= render 'shared/card-category' %>
  </div>
</div>


<%= render 'shared/card-movie-grid' %>
