<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1624125277571-4061ca2654be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
  <div class="container">
    <h1><strong>Crime</strong>  movies</h1>
  </div>
</div>
<%= render 'shared/card-category' %>

<%= render 'shared/card-movie-grid' %>
