<div class="banner-home d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1620138379310-16b58feb9e89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80)">
  <div class="container-title-movies">
    <h1 class="main-title"><strong>Horror</strong>  movies</h1>
  </div>
  <div class="container-cards-movies">
    <%= render 'shared/card-category' %>
  </div>
</div>

<%= render 'shared/card-movie-grid' %>
