<h1>test</h1>
<div class="card-movie-grid">
  <div class="card-movie">
    <img src="https://media.senscritique.com/media/000020505831/source_big/dune.jpg">
    <div class="card-movie-infos">
      <div>
        <h2>Title</h2>
        <p>Description</p>
      </div>
      <h2>Rating</h2>
    </div>
    <div class="card-movie-price">X,X€</div>
  </div>
  <div class="card-movie">
    <img src="https://media.senscritique.com/media/000020505831/source_big/dune.jpg">
    <div class="card-movie-infos">
      <div>
        <h2>Title</h2>
        <p>Description</p>
      </div>
      <h2>Rating</h2>
    </div>
    <div class="card-movie-price">X,X€</div>
  </div>
  <div class="card-movie">
    <img src="https://media.senscritique.com/media/000020505831/source_big/dune.jpg">
    <div class="card-movie-infos">
      <div>
        <h2>Title</h2>
        <p>Description</p>
      </div>
      <h2>Rating</h2>
    </div>
    <div class="card-movie-price">X,X€</div>
  </div>
  <div class="card-movie">
    <img src="https://media.senscritique.com/media/000020505831/source_big/dune.jpg">
    <div class="card-movie-infos">
      <div>
        <h2>Title</h2>
        <p>Description</p>
      </div>
      <h2>Rating</h2>
    </div>
    <div class="card-movie-price">X,X€</div>
  </div>
</div>
