<h1>test</h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://media.senscritique.com/media/000020505831/source_big/dune.jpg')">
  <div class="container">
    <h1><strong>List of </strong>  movies</h1>
  </div>
</div>

<div class="card-movie-grid">
  <% @movies.each do |movie| %>
  <div class="card-movie">
    <img src="https://media.senscritique.com/media/000020505831/source_big/dune.jpg">
    <div class="card-movie-infos">
      <div>
        <h2><%= movie.title %></h2>
        <p><%= movie.description %></p>
      </div>
      <h2>Rating</h2>
    </div>
    <div class="card-movie-price"><%= movie.price %></div>
  </div>
  <% end %>
</div>
