<div class="filmstrip">
    <h1><strong><i class="fa fa-search"></i>    <%=pluralize(@movies.count, "result") %> for "<%=@query%>"</strong></h1>
</div>
<%= render 'shared/card-category' %>

<%= render 'shared/card-movie-grid' %>
