<div class="banner-home d-flex flex-column" id="banner-home-background" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=856&q=80);">
  <div class="container-title center">
    <div>
      <h1>A bit nostalgic?</h1>
      <h2>Rediscover hundreds of films on DVD</h2>
    </div>
    <div class="container-cards">
      <%= render 'shared/card-category' %>
    </div>
  </div>
</div>
