
.banner-home {
  background-size: cover;
  background-position: 35% 65%;
  padding: 150px 0;
  height: 400px;
  align-content: center;
  margin-top: -100px; // bidouille
  display: flex;
  justify-content: center;
}

#banner-home-background {
  height: 100vh;
}

.main-title {
  color: white;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Work Sans', sans-serif;
}


.banner-index {
  background-size: cover;
  background-position: 35% 65%;
  padding: 150px 0;
  height: 250px;
  align-content: center;
}

.banner-index h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.banner-index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Work Sans', sans-serif;
}

.container-title {
  margin-top: 330px;
}

.container-cards {
  margin-top: 110px;
}

.container-title-movies {
  margin-top: 120px;
}

.container-cards-movies {
  margin-top: 30px;
}
