
.banner-home {
  background-size: cover;
  background-position: 35% 65%;
  padding: 150px 0;
  height: 400px;
  align-content: center;
  margin-top: -100px; // bidouille
}

.banner-home h1, h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.banner-home p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Work Sans', sans-serif;
}


.banner-index {
  background-size: cover;
  background-position: 35% 65%;
  padding: 150px 0;
  height: 250px;
  align-content: center;
}

.banner-index h2 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Work Sans', sans-serif;
}

.banner-index p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Work Sans', sans-serif;
}
