$color: #4c4c4c;
$spacer: 8px;


.navbar-lewagon {
  background: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
 text-align: left;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 22%;
  border-radius: 50%;
  justify-content: left;
}

.navbar {
  justify-content: center;
}
