$color: white;
$spacer: 8px;

.navbar-lewagon {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
  display: flex;
  align-items: center;
  height: 65px;
  background: white;
  z-index: 999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 22%;
  justify-content: left;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.search-form-control {
  display: flex;
  align-items: center;
}

#search-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 0px;
}

#search_query {
  border: 0px;
}

.nav-link {
  margin-left: 16px;
  margin-right: 16px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  outline: 0;
  box-shadow: rgba(230, 230, 230, 0.3);
  border-color: white;
}
