$color: white;
$spacer: 8px;


.navbar-lewagon {
  background: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-align: left;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 22%;
  justify-content: left;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
