.search-form-control {
  position: relative;
  width: 200px;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3rem;
  width: 100%;
  border-radius: 5px;
}

.search-form-control .form-control:focus {
  outline: none !important;
  width: 50%;
}
